* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
 
  
}
body{
  background-image: url(./img/library.jpg);
  background-repeat: no-repeat;
  background-size:1536px;
  

}

.container {
  height: 100vh;
  float: left;
}



.sidebar {
  width: 250px;
  background-color: #4d88ed;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 80px;
  height: 80px;
}

.logo h2 {
  margin-top: 10px;
  font-size: 20px;
}

.sidebar nav ul {
  list-style: none;
  width: 100%;
  padding-left: 20px;
}

.sidebar nav ul li {
  margin: 10px 0;
  text-transform: uppercase;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar nav ul li a:hover {
  background-color: #154997;
}
.sidebar {
  height: 100%;
  margin-right: 8rem;
}
.container {
  display: flex;
}
.inputthongtin {
  width: 900px;
 
}
.Bangthongtin {
  width: 100%;
  display: block;
}
.mt-3{
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 300px;
}
tr{
  background-color: #4d88ed;
  color: #fff;
}
tbody{
  background-color: #fff;
}
.mainsection{
  margin-left: 50px;
}
.footer{
  margin-top: 300px;
}
 

